{% extends "base.jinja" %}

{% block nav_about %}active{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-6">
            <h1>{{ _("About") }}</h1>

            <ul>
                <li><a href="http://www.table-soccer.org/">{{ _("International Table Soccer Federation") }}</a></li>
                <li><a href="http://www.table-soccer.org/rules/documents/2016_Rulebook.pdf">{{ _("Official ITSF Rulebook 2016") }}</a></li>
            </ul>
        </div>
    </div>
{% endblock %}
